@{
    ViewData["Title"] = "Cadastrar ocorrência";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@{/*
            public string Numero { get; set; }
        public DateTime DataDeRegistro { get; set; }
        public DateTime DataDeVencimento { get; set; }
        public DateTime DataDeEncerramento { get; set; }
        public string Descrição { get; set; }
        public enum Status : int {Pendente = 0, Cancelada = 1, Resolvida = 2};
        public List<Acompanhamento> Acompanhamentos = new List<Acompanhamento>();
*/}
<form id = "ocorrenciaForm"> 
    
</form>

<textarea rows="8" cols="50" name="comment" form="ocorrenciaForm"></textarea>
